footer{
  position: relative;
  max-width: 1366px;
  width: 100%;
  padding: 0 100px ;
 

  z-index: 1;
  margin: -85px auto 0 ;
  text-align: center;
  hr{
    max-width: 1166px;
    height: 1px;
    background-color: #fff;
    
    border:0 none;
  }



}
.socials{
  width: 30%;
  text-align: left;
  a{
    margin-right: 0.3rem; 
    text-align: center;
    display: inline-block;
    color: #4d4d4d;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    line-height: 30px;
    &:hover{
      background-color: #0084b4;
      color: #ffffff;
    }

  }
}
.copyright{
  color: #ffffff;
  width: 30%;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 67px;
letter-spacing: 0.96px;
}
.xxx{
  width: 30%;
}
.footer-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#toUp{
  display: none; 
  position: fixed;
  z-index: 99;
  width: 45px;
  height: 41px;
  right: 50px;
  bottom: 195px;
  box-shadow: 0 10px 27px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  &:hover{
    box-shadow: 0 0 5px 1px  #4d4d4d;
  }

}